#checkbox-container {
    box-sizing: border-box;

}

.checkbox-button {
    border: 1px solid #CCC;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 1.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    background-color: #fff;
}

.checkboxlist {
    position: absolute;
    background-color: white;
    border: 1px solid #CCC;
    padding-right: 0.6em;
    padding-left: 0.3em;
    padding-bottom: 0.3em;
    z-index: 1;
    width: inherit;
}

.check-item:hover {
    background-color: var(--primary-color);
    display: block;
    width: 100%;
    color: white;
}

@media (max-width: 1080px) {
    .checkbox-button {
        margin-top: 0.5em;
    }
    .checkboxlist {
        padding-right: 1.1em;
        width: 90%;
    }
    .check-item:hover {
        color: black;
        background-color: initial;
    }
}