.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    transition: all 100ms ease;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    border: 5px solid #62a5a1;
    border-radius: 1em;
    background-color: rgb(250, 250, 250);
    padding: 1em;
    width: 40%;
    height: 10em;
    text-decoration: none;
    color: black;
}

.card:hover {
    box-shadow: 5px 5px 5px rgb(105, 105, 105);
    background-color: rgb(98, 165, 161);
    padding: 1.2em;
    color: white;
}

.card-text {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    height: inherit;
    text-align: center;
    /* width: 90%; */
}

.image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

#restaurant-name {
    margin: 0;
    font-family: var(--body-font), sans-serif;
    font-size: 1.2em;
    font-weight: 800;
    width: 300px;
}

#see-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-style: italic;
}

#yelp-logo {
    width: 75px;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width: 1024px) {
    .card {
        width: 70%;
    }
}

@media screen and (max-width: 661px) {
    .card {
        flex-direction: column;
        height: initial;
    }
    .card-text {
        padding-top: 1em;
        width: initial;
    }
    #see-more {
        padding-top: 1rem;
    }
    #restaurant-name {
        padding-bottom: 1em;
    }
}