.loader {
    animation: spin 2s linear infinite;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    border: 1em solid #f3f3f3;
    border-top: 1em solid var(--primary-color);
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}