section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

#separator {
    border-top: 1.5px solid var(--primary-color);
    width: 75%;
}

.about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
}

#text {
    margin-right: 2em;
    width: 40%;
    line-height: 2em;
}

@media (max-width: 1023px) {
    section {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .about-content {
        width: 100%;
    }
    #text {
        margin-right: initial;
        width: 100%;
    }
    #image-slider {
        align-self: center;
        justify-self: center;
    }
}