.backtotop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    border: 2px solid var(--primary-color);
    outline: none;
    background-color: whitesmoke;
    cursor: pointer;
    padding: 0.5em;
    width: 60px;
    height: 60px;
    transition: all 100ms ease;
    border-radius: 50%;
}

.backtotop:hover {
    box-shadow: 0.25em 0.25em 0.25em rgb(105, 105, 105);
    padding: 0.6em;
}

@media (max-width: 1024px){
    .backtotop{
        width: 70px;
        height: 70px;
        margin-right: -15px;
        margin-bottom: -10px;
    }

    .backtotop:hover {
        box-shadow: initial;
        padding: initial;
    }
}