.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--primary-color);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}