.card {
    color: black;
    background-color: rgb(250, 250, 250);
    border-radius: 1em;
    border: 5px solid #62a5a1;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 12em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    transition: all 100ms ease;
    padding: 1em;
}

.card:hover {
    background-color: rgb(98, 165, 161);
    padding: 1.2em;
    color: white;
    box-shadow: 5px 5px 7px rgb(66, 66, 66);
}

.card-text-container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    text-align: center;
    height: inherit;
}

.image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

#restaurant-name {
    margin: 0;
    font-family: Lato, sans-serif;
    font-weight: 800;
}

#see-more {
    font-style: italic;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#yelp-logo {
    object-fit: contain;
}

@media screen and (max-width: 1024px) {
    .card {
        width: 50%;
    }
}

@media screen and (max-width: 479px) {
    .card {
        width: 70%;
        flex-direction: column;
        height: initial;
    }
    .card-text-container {
        padding-top: 1em;
        box-sizing: border-box;
        line-height: 1.5em;
    }
}