.algolia-places button {
    display: none;
}

.ap-input {
    padding-right: 0.5em;
    padding-left: 0.5em;
}

form {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    -webkit-align-content: center;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    max-width: 1350px;
}

.form-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 40px;
}

.form-label {
    margin-right: 0.5em;
    text-align: right;
}

#checkbox-container, .form-select, .ap-input {
    box-sizing: border-box;
    height: 40px;
}

#checkbox-container {
    width: 300px;
}

.algolia-places {
    width: 325px;
}

.form-select {
    width: 150px;
}

.flex-break {
    flex-basis: 100%;
    margin-bottom: 0.8em;
    width: 0;
}

.form-select {
    border-radius: 3px;
    border-color: #CCC;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    padding-left: 0.5em;
}

#search {
    align-self: center;
    transition: all 150ms ease;
    border: 0;
    border-radius: 0.5em;
    background-color: var(--primary-color);
    padding: 0.5em 0.75em;
    width: min-content;
    color: white;
    font-size: large;
}

#search:hover {
    background-color: rgba(98, 165, 161, 0.8);
    font-size: 1.15em;
}

@media (max-width: 1080px) {
    form {
        flex-direction: column;
        justify-content: center;
    }
    .form-control {
        justify-content: left;
        width: 75%;
        height: 60px;
    }
    .form-label {
        width: 40%;
    }
    #search {
        font-size: 1.15em;
    }
    #search:hover {
        background-color: initial;
        font-size: initial;
    }
}

@media screen and (max-width: 750px) {
    .form-control {
        width: 100%;
    }
    .form-label {
        margin-left: 0.5em;
    }
}

@media screen and (max-width: 600px) {
    .form-control {
        flex-direction: column;
        height: 80px;
    }
    .form-control:not(:first-of-type) {
        margin-top: 1em;
    }
    .form-label {
        text-align: center;
        margin-bottom: 0.5em;
    }
}