.algolia-places {
    box-sizing: border-box;
    width: 100%;
}

.algolia-places button {
    display: none;
}

#form {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    -webkit-align-content: center;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.flex-break {
    flex-basis: 100%;
    margin-bottom: 0.8em;
    width: 0;
}

.form-select {
    border-radius: 3px;
    border-color: #CCC;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    padding-left: 0.5em;
    padding-right: 1.5em;
    height: 2em;
}

select, input:not([type='submit']) {
    margin-left: 0.5em;
}

label:not(:first-of-type) {
    margin-left: 1.5em;
}

#search-button {
    align-self: center;
    transition: all 150ms ease;
    margin-bottom: 1em;
    border: 0;
    border-radius: 0.5em;
    background-color: var(--primary-color);
    padding: 0.5em 0.75em;
    width: min-content;
    color: white;
    font-size: large;
}

#search-button:hover {
    background-color: rgba(98, 165, 161, 0.8);
    font-size: 1.2em;
}



@media (max-width: 1080px) {
    #form {
        flex-direction: column;
        align-items: center;
        margin: 0.5em;
        
    }
    input, select {
        width: fit-content;
        margin-top: 0.5em;
    }
    input {
        margin-left: 0 !important;
    }
    select {
        margin-left: 0 !important;
        width: 180px;
    }
    label {
        margin-left: 0 !important;
    }
    label:not(:first-of-type) {
        margin-top: 1em;
    }
    #search-button{
        font-size: x-large;
    }
    #search-button:hover {
        background-color: var(--primary-color);
        font-size: large;
    }
    .algolia-places {
        width: fit-content;
    }
    
}