#footer-absolute{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

#footer-relative{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
.footer-item{
    
}

.footer-link{
    color: white;
    margin: 3px;
    width: fit-content;
    align-self: center;
}
.footer-link:hover{
    color: rgba(0,0,0,0.5);
}

@media (min-height: 1081px){
   #footer-absolute{
        position: relative;
   }
   #footer-relative{
       position: relative;
   }
}