@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Satisfy&display=swap');
:root {
    --body-font: Lato, sans-serif;
    --headings-font: Satisfy, sans-serif;
    --primary-color: #62a5a1;
    --footer-height: 10em;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headings-font);
    text-align: center;
}

p {
    text-align: justify;
}
